{% load static %}
<!DOCTYPE html>
<html>
<!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript">
    // Load the Visualization API and the corechart package.

    google.charts.load('current', {packages: ['corechart', 'bar']});
    // Set a callback to run when the Google Visualization API is loaded.
    //document.getElementById("traffic").click(google.charts.setOnLoadCallback(drawMultSeries));

    function drawMultSeries(d_name,gender_title,age_title) {
        var data = google.visualization.arrayToDataTable([
            ['滿意度', '男', '女'],
            ['5', {{gender_data|safe}}[d_name][0]['5'], {{gender_data|safe}}[d_name][1]['5']],
            ['4', {{gender_data|safe}}[d_name][0]['4'], {{gender_data|safe}}[d_name][1]['4']],
            ['3', {{gender_data|safe}}[d_name][0]['3'], {{gender_data|safe}}[d_name][1]['3']],
            ['2', {{gender_data|safe}}[d_name][0]['2'], {{gender_data|safe}}[d_name][1]['2']],
            ['1', {{gender_data|safe}}[d_name][0]['1'], {{gender_data|safe}}[d_name][1]['1']]
        ]);

        var options = {
            title: gender_title,
            chartArea: {width:'70%',height:'75%'},
            width:600,
            height:400,
            hAxis: {
              title: '人數',
              minValue: 0
            },
            vAxis: {
              title: '滿意度'
            }
        };

        var year_data = google.visualization.arrayToDataTable([
            ['滿意度', '15歲以下', '16-20歲','21-25歲','26-30歲','31-35歲','36-40歲','41歲以上'],
            ['5', {{year_data|safe}}[d_name][0]['5'], {{year_data|safe}}[d_name][1]['5'],{{year_data|safe}}[d_name][2]['5'],{{year_data|safe}}[d_name][3]['5'],{{year_data|safe}}[d_name][4]['5'],{{year_data|safe}}[d_name][5]['5'],{{year_data|safe}}[d_name][6]['5']],
            ['4', {{year_data|safe}}[d_name][0]['4'], {{year_data|safe}}[d_name][1]['4'],{{year_data|safe}}[d_name][2]['4'],{{year_data|safe}}[d_name][3]['4'],{{year_data|safe}}[d_name][4]['4'],{{year_data|safe}}[d_name][5]['4'],{{year_data|safe}}[d_name][6]['4']],
            ['3', {{year_data|safe}}[d_name][0]['3'], {{year_data|safe}}[d_name][1]['3'],{{year_data|safe}}[d_name][2]['3'],{{year_data|safe}}[d_name][3]['3'],{{year_data|safe}}[d_name][4]['3'],{{year_data|safe}}[d_name][5]['3'],{{year_data|safe}}[d_name][6]['3']],
            ['2', {{year_data|safe}}[d_name][0]['2'], {{year_data|safe}}[d_name][1]['2'],{{year_data|safe}}[d_name][2]['2'],{{year_data|safe}}[d_name][3]['2'],{{year_data|safe}}[d_name][4]['2'],{{year_data|safe}}[d_name][5]['2'],{{year_data|safe}}[d_name][6]['2']],
            ['1', {{year_data|safe}}[d_name][0]['1'], {{year_data|safe}}[d_name][1]['1'],{{year_data|safe}}[d_name][2]['1'],{{year_data|safe}}[d_name][3]['1'],{{year_data|safe}}[d_name][4]['1'],{{year_data|safe}}[d_name][5]['1'],{{year_data|safe}}[d_name][6]['1']],
        ]);

        var year_options = {
            title: age_title,
            chartArea: {width:'70%',height:'75%'},
            width:600,
            height:400,
            hAxis: {
              title: '年齡',
              minValue: 0
            },
            vAxis: {
              title: '滿意度'
            }
        };

        var chart = new google.visualization.BarChart(document.getElementById('gender_charts'));
        chart.draw(data, options); 
        var chart2 = new google.visualization.BarChart(document.getElementById('year_charts'));
        chart2.draw(year_data, year_options);
      }
    function back(){
        window.location = "http://127.0.0.1:8000";
    };
    </script>

    <head>
        <title>I come from template!!</title>
        <style>
            body {
               background-color: LemonChiffon ;
            }
            em {
                color: white;
            }
        </style>
    </head>
    <body>
        <h1>看看大家怎麼說</h1>
        <!--<em>{{likert_data}}</em>
        <h1><em>{{test}}</em>-->
        </h1>
        <button type="button" id = "back" onclick=back() style = "position: absolute;left: 80%;top:30%"><img src="{% static 'images/main_page.png' %}" style = "width:100px;height:100px;"></button>
        <!--Div that will hold the pie chart-->
        <button type="button" id = "traffic" onclick=google.charts.setOnLoadCallback(drawMultSeries('traffic','男女對於此景點的交通滿意度','不同年齡對於此景點的交通滿意度')) style = "position: absolute;left: 10%"><img src="{% static 'images/traffic.png' %}" style = "width:100px;height:100px;"></button>
        <button type="button" id = "parking" onclick=google.charts.setOnLoadCallback(drawMultSeries('parking_lot_location','男女對於此景點的停車位設置滿意度','不同年齡對於此景點的停車位設置滿意度')) style = "position: absolute;left: 20%"><img src="{% static 'images/parking.png' %}" style = "width:100px;height:100px;"></button>
        <button type="button" id = "fee" onclick=google.charts.setOnLoadCallback(drawMultSeries('fee','男女對於景點收費滿意度','不同年齡對於景點收費滿意度')) style = "position: absolute;left: 30%"><img src="{% static 'images/ticket.png' %}" style = "width:100px;height:100px;"></button>
        <button type="button" id = "rides" onclick=google.charts.setOnLoadCallback(drawMultSeries('rides','男女對於景點的遊樂項目豐富滿意度','不同年齡對於對於景點的遊樂項目豐富滿意度')) style = "position: absolute;left: 40%"><img src="{% static 'images/everland-south-korea.png' %}" style = "width:100px;height:100px;"></button>
        <button type="button" id = "clean" onclick=google.charts.setOnLoadCallback(drawMultSeries('clean','男女對於景點環境衛生滿意度','不同年齡對於景點環境衛生滿意度')) style = "position: absolute;left: 50%"><img src="{% static 'images/washing-hands.png' %}" style = "width:100px;height:100px;"></button>
        <button type="button" id = "rides_safe" onclick=google.charts.setOnLoadCallback(drawMultSeries('rides_safe','男女對於景點設施安全滿意度','不同年齡對於景點設施安全滿意度')) style = "position: absolute;left: 60%"><img src="{% static 'images/electroshock-risk.png' %}" style = "width:100px;height:100px;"></button>
        <button type="button" id = "amusement" onclick=google.charts.setOnLoadCallback(drawMultSeries('amusement','男女對於景點趣味性滿意度','不同年齡對於景點趣味性滿意度')) style = "position: absolute;left: 70%"><img src="{% static 'images/man-partying.png' %}" style = "width:100px;height:100px;"></button>
        <button type="button" id = "trail_setting" onclick=google.charts.setOnLoadCallback(drawMultSeries('trail_setting','男女對於景點內步道規劃路線滿意度','不同年齡對於景點內步道規劃路線滿意度')) style = "position: absolute;left: 80%"><img src="{% static 'images/stairs.png' %}" style = "width:100px;height:100px;"></button>
        <button type="button" id = "staff_service" onclick=google.charts.setOnLoadCallback(drawMultSeries('staff_service','男女對於景點工作人員服務態度滿意度','不同年齡對於景點工作人員服務態度滿意度')) style = "position: absolute;left: 10%;top:30%"><img src="{% static 'images/waiter.png' %}" style = "width:100px;height:100px;"></button>
        <button type="button" id = "souvenir" onclick=google.charts.setOnLoadCallback(drawMultSeries('souvenir','男女對於景點的購物選擇滿意度','不同年齡對於景點的購物選擇滿意度')) style = "position: absolute;left: 20%;top:30%"><img src="{% static 'images/large-shop-bag.png' %}" style = "width:100px;height:100px;"></button>
        <button type="button" id = "satisfied" onclick=google.charts.setOnLoadCallback(drawMultSeries('satisfied','男女對於景點有滿足的期待同意度','不同年齡對於景點有滿足的期待同意度')) style = "position: absolute;left: 30%;top:30%"><img src="{% static 'images/smile.png' %}" style = "width:100px;height:100px;"></button>
        <button type="button" id = "visit_again" onclick=google.charts.setOnLoadCallback(drawMultSeries('visit_again','男女對於會再次選擇遊玩該景點同意度','不同年齡對於會再次選擇遊玩該景點同意度')) style = "position: absolute;left: 40%;top:30%"><img src="{% static 'images/back.png' %}" style = "width:100px;height:100px;"></button>
        <button type="button" id = "recommend" onclick=google.charts.setOnLoadCallback(drawMultSeries('recommend','男女對於會向家人或朋友推薦該景點的同意度','不同年齡對於會向家人或朋友推薦該景點同意度')) style = "position: absolute;left: 50%;top:30%"><img src="{% static 'images/recommended.png' %}" style = "width:100px;height:100px;"></button>
        <div id="gender_charts" style="position: absolute;left: 10%;top:50%"></div>
        <div id="year_charts" style="position: absolute;left: 50%;top:50%"></div>

    </body>
</html>
